@use "../mixin" as *;

.banner-introduction{
  margin-bottom: 103px;
  &__inner{
    display: grid;
    grid-template-columns: 55% 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    padding-top: 84px;
  }
  &__left{
    background-color: #004f9e;
    padding: 63px 63px 47px;
    position: relative;
    border-radius: 3px 0 0 3px;
    &:after{
      content: '';
      position: absolute;
      background-image: url("/img/simbol-ttp.png");
      background-size: contain;
      width: 179px;
      height: 264px;
      right: -93px;
      top: -76px;
      z-index: 2;
      pointer-events: none;
    }
  }
  &__title{
    color: #ffffff;
    font-size: 38px;
    line-height: 48px;
    max-width: 700px;
    margin: 0 0 25px;
  }
  &__text{
    color: #ffffff;
    font-size: 24px;
    line-height: 32px;
  }
  &__right{
    background-color: #002e6d;
    padding: 49px 47px;
    position: relative;
    border-radius: 0 3px 3px 0;
    z-index: 1;
    a{
      text-decoration: none;
    }
  }
  &__form{
    max-width: 508px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .form-row{

    }
    .left-column{
      flex: 1 1 auto;
    }
    .right-column {
      flex: 0 0 200px;
    }
    .form-argee{
      margin-left: 20px;
      line-height: 18px;
    }
    .form-label{
      margin-bottom: 10px;
    }
    .btn.btn-secondary{
      padding: 20px 45px;
    }
  }
  @include r(768) {
    margin-bottom: 75px;
    &__inner{
      grid-template-columns: 1fr;
      padding-top: 84px;
      overflow: inherit;
    }
    &__title{
      font-size: 23px;
      line-height: 29px;
    }
    &__text{
      color: #ffffff;
      font-size: 19px;
      line-height: 25px;
    }
  }
  @include r(425) {
    .right-column {
      flex: 0 0 auto;
    }
    &__left{
      padding: 50px 20px 47px;
      &:after{
        background-size: cover;
        width: 100px;
        height: 140px;
        right: -18px;
        top: auto;
        bottom: -60px;
      }
    }
    &__right{
      padding: 40px 20px;
      position: relative;
      z-index: 1;
      a{
        text-decoration: none;
      }
    }
    &__form{
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .form-row{
        flex-direction: column;
      }
      .form-argee{
        margin-left: 0;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        order: 1;
      }
      .btn.btn-secondary{
        order: 2;
        padding: 20px 45px;
        margin: 0 auto;
        width: fit-content;
      }
    }
  }
}