.bx-pagination {
  margin: 40px 0;
  .bx-pagination-container {
    text-align: center;
    position: relative;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      gap: 5px;
      justify-content: center;
      li {
        display: inline-block;
        margin: 0 2px 15px 2px;
        &.bx-active span{
          background: #004f9e;
          color: #fff;
        }
        &.bx-pag-all,
        &.bx-pag-prev,
        &.bx-pag-next{
          a{
            &:hover{
              span{
                background: #004f9e;
                border-color: #004f9e;
                color: #FFFFFF;
              }
            }
            span{
              background: #fff;
              border: 1px solid #004f9e;
              line-height: 28px;
              padding: 0 18px;
              color: #010101;
            }
          }
          span{
            color: #aab1b4;
            background: #fff;
            border: 1px solid #eff0f1;
            line-height: 28px;
            padding: 0 18px;
          }
        }
        span{
          transition: color .3s ease, background-color .3s ease, border-color .3s ease;
          background: transparent;
          border: 1px solid #004f9e;
          padding: 0 8px;
          display: block;
          height: 32px;
          min-width: 32px;
          line-height: 32px;
          color: #010101;
          font-size: 14px;
          border-radius: 3px;
          vertical-align: middle;
          box-sizing: border-box;
        }
        a {
          text-decoration: none;
          display: block;
          border-radius: 3px;
          height: 32px;
          min-width: 32px;
          line-height: 32px;
          color: #FFFFFF;
          vertical-align: middle;
          &:hover span{
            background: #004f9e;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}
