@use "../mixin" as *;
.cases{
  &__item{
    display: block;
    text-decoration: none;
    box-shadow: 0 4px 13px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
  }
  &__header{
    color: #FFFFFF;
    font-weight: 700;
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: #002e6d;
    padding: 25px 70px;
  }
  &__label{
    flex-shrink: 0;
    font-size: 24px;
    line-height: 33px;
    background-color: #004f9e;
    padding: 14px 20px 14px 90px;
    margin-left: -70px;
    border-radius: 0 5px 5px 0;
  }
  &__title{
    font-size: 24px;
    line-height: 33px;
    margin: 0;
  }
  &__body{
    padding: 60px 0 60px 90px;
    display: grid;
    gap: 60px;
    grid-template-columns: minmax(100px, 1fr) 413px;
  }
  &__content{
    h4{
      font-size: 19px;
      line-height: 33px;
      color: #010101;
    }
    p{
      color: #696969;
      font-size: 17px;
      line-height: 20px;
    }
    b{
      color: #010101;
    }
    ul{
      margin: 0 0 30px;
      padding-left: 18px;
      list-style-type: square;
      li{
        font-size: 17px;
        line-height: 24px;
        color: #696969;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  &__img{
    align-self: center;
    img{
      display: block;
    }
  }
  &__results{
    background-color: #eef2f6;
    border-radius: 5px;
    padding: 40px;
    margin-top: 45px;
    ul{
      margin: 0 0 30px;
      padding-left: 18px;
      list-style: none;
      li{
        font-size: 17px;
        line-height: 22px;
        color: #010101;
        font-weight: 500;
        margin-bottom: 10px;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          left: -58px;
          background-color: #e89d06;
          border-radius: 0 5px 5px 0;
          background-image: url("/img/icon-check.png");
          background-size: 12px 8px;
          background-repeat: no-repeat;
          background-position: center;
          width: 36px;
          height: 25px;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  &__results-title{
    color: #002e6d;
    font-size: 20px;
    line-height: 33px;
    font-weight: 700;
    margin: 0 0 20px;
  }

  @include r(1200){
    &__body{
      padding: 40px 0 40px 40px;
      grid-template-columns: minmax(100px, 1fr) 313px;
    }
  }
  @include r(1024){
    &__body{
      padding: 40px;
      grid-template-columns: 1fr;
    }
    &__img{
      align-self: center;
      img{
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }
  @include r(768){
    &__header{
      display: block;
      padding: 25px;
    }
    &__title{
      font-size: 20px;
      line-height: 30px;
      margin: 20px 0 0;
    }
    &__body{
      padding: 20px;
    }
    &__results{
      padding: 20px;
      ul{
        margin: 0 0 30px -20px;
        padding-left: 50px;
        list-style: none;
        li{
          font-size: 16px;
          line-height: 21px;
          &:before{
            left: -50px;
          }
        }
      }
    }
  }
}