@use "../mixin" as *;
.chamber-detail{
  &__body{
    h3{
      font-size: 36px;
      line-height: 42px;
      font-weight: 700;
    }
    h4{
      font-size: 27px;
      line-height: 36px;
      font-weight: 700;
    }
    p{
      color: #696969;
      font-size: 20px;
      line-height: 32px;
    }
    b{
      color: #000000;
      font-weight: 500;
    }
  }
  &__slider{
    margin: 60px 0 70px;
  }
  ul{
    margin: 20px 0;
    padding: 0;
    list-style: none;
    counter-reset: my-counter;
    li{
      counter-increment: my-counter;
      position: relative;
      padding-left: 50px;
      margin-bottom: 28px;
      display: inline-block;
      width: 100%;
      font-size: 17px;
      line-height: 27px;
      &::before {
        content: counter(my-counter);
        position: absolute;
        left: -4px;
        top: 4px;

        /* Фон и форма */
        background-color: #e6ebf1; /* Цвет фона */
        color: #004f9e;               /* Цвет текста цифры */
        width: 31px;               /* Ширина фона */
        height: 33px;              /* Высота фона */
        border-radius: 3px;        /* Сделать кругом (убери, если нужен квадрат) */

        /* Центрирование текста внутри фона */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
      }
    }
  }

  .swiper-slider-chamber-detail{
    position: relative;
    overflow: hidden;
    padding: 0 30px;
  }
  .swiper-slide{
    border-radius: 3px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    transition:  all 0.3s ease;
    &:hover{
      box-shadow: 0 4px 13px 2px rgba(0, 0, 0, 0.1);
      transition:  all 0.3s ease;
    }
  }
  .slider-chamber-detail-next,
  .slider-chamber-detail-prev{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 3px;
    transition: all 0.3s;
    box-shadow: 0 4px 13px 2px rgba(0, 0, 0, 0.09);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    background-color: #FFFFFF;
    z-index: 10;
    &:hover{
      transition: all 0.3s;
      box-shadow: 0 4px 13px 2px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }
  .slider-chamber-detail-next{
    right: 0;
    left: auto;
  }
  .slider-chamber-detail-next:after,
  .slider-chamber-detail-prev:after {
    content: "";
    width: 100%;
    height: 100%;
    color: #999;
    background-image: url("/img/arrow-slider.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
  }
  .slider-chamber-detail-next:after{
    transform: rotate(180deg);
  }

  @include r(768){
    &__body{
      h3{
        font-size: 30px;
        line-height: 36px;
      }
      h4{
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
      }
      p{
        font-size: 17px;
        line-height: 27px;
      }
    }
  }

  @include r(425){
    .slider-chamber-detail-next,
    .slider-chamber-detail-prev{
      width: 40px;
      height: 40px;
      left: -20px;
    }
    .slider-chamber-detail-next{
      right: -20px;
      left: auto;
    }
  }
}