.contact-maps{
  color: #FFFFFF;
  padding: 84px 0;
  margin-top: 140px;
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  &__inner{}
  &__contacts{
    background-color: #004f9e;
    position: relative;
    border-radius: 3px;
    padding: 55px;
    max-width: 390px;
    &:after{
      content: '';
      position: absolute;
      right: -8px;
      top: 50%;
      transform: translate(0, -50%);
      background-color: #002d6c;
      border-radius: 3px;
      width: 16px;
      height: 90%;
      z-index: -1;
    }
  }
  &__title{
    font-size: 37px;
    font-weight: 500;
    margin: 0 0 35px;
  }
  &__address{
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    margin:0 0 20px;
  }
  &__tel{
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: inline-block;
    &:hover{
      color: var(--clr-gold);
    }
  }
  &__email{
    font-size: 19px;
    color: #84a9e1;
    margin-bottom: 25px;
    display: inline-block;
  }
  &__work{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    &-row{
      display: flex;
      gap: 35px;
      margin-bottom: 35px;
    }
    &-item{
      p{
        margin: 0 0 8px;
        font-size: 17px;
        line-height: 27px;
        font-weight: 500;
      }
      span{
        color: #84a9e1;
        font-weight: 400;
      }
    }
  }
  &__map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 12px;
    overflow: hidden;
    filter: grayscale(1);
    transition: filter 0.5s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
}