.contact-group{
  display: flex;
  gap: 30px;
  &__item{
    max-width: 280px;
    padding: 0 20px;
  }
  &__title{
    color: var(--clr-text-label);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: block;
  }
  &__link,
  &__text{
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: var(--clr-text-main);
    text-decoration: none;
  }
  &__link{
    &:hover{
      color: var(--clr-gold);
    }
  }
}