@use "../mixin" as *;

.contact-group{
  display: flex;
  gap: 30px;
  &__item{
    max-width: 280px;
  }
  &__title{
    color: var(--clr-text-label);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: block;
    margin-bottom: 4px;
  }
  &__link,
  &__text{
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: var(--clr-text-main);
    text-decoration: none;
    font-style: normal;
  }
  &__link{
    &:hover{
      color: var(--clr-gold);
    }
  }
  @include r(1200){
    gap: 20px;
    &__item{
      max-width: 280px;
    }
  }
}