.created-site{
  margin-top: 18px;
  &__label{
    color: var(--clr-text-label);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: block;
    margin-bottom: 4px;
  }
  &__link{
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: var(--clr-white);
    text-decoration: none;
    font-style: normal;
    &:hover{
      color: var(--clr-gold);
    }
  }
}