.hero {
  background-color: #f0f4f7;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-bottom: 54px;
  margin-bottom: 107px;
  &__inner{
    background-image: url("/img/hero-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__txt{
    max-width: 705px;
    padding: 112px 0 100px;
  }
  &__header{
    margin-bottom: 60px;
  }
  &__title{
    color: #004f9e;
    font-size: 80px;
    line-height: 85px;
    margin: 0;
  }
  &__subtitle{
    color: #010101;
    font-size: 63px;
    line-height: 72px;
    margin: 0;
  }
  &__tag {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 6px;
    margin: 0;
    padding: 0;
    list-style: none;
    .btn{
      padding: 12px 20px;
    }
  }
  &__object{
    max-width: 613px;
  }
  &__decor1{
    background-image: url("/img/organization-info-decor-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 50px;
    left: 50%;
  }
  &__decor2{
    position: absolute;
    bottom: -77px;
    left: -22px;
    background-image: url("/img/contact-maps-decor-1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 126px;
    height: 131px;
  }
  .btn {
    font-size: 17px;
    border-radius: 3px;
    box-shadow: 0 4px 13px 2px rgba(0, 0, 0, 0.05);
  }
}