@use "../mixin" as *;

.nav{
  background-color: #f0f4f7;
  &.is-active{
    display: block;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .nav__inner{
      height: 100%;
      margin: 0 -20px;
    }
    .nav__list{
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 90px;
      overflow: auto;
      border-radius: 0;
      li{
        &.is-open{
          ul{
            position: relative;
            top: 0;
            li{
              a{
                padding: 12px 20px;
              }
            }
          }
        }
        a{
          font-size: 18px;
          line-height: 25px;
          padding: 20px;
          &:hover,
          &.active{
            background-color: transparent;
            color: #FFFFFF;
          }
        }

      }
    }

  }
  &__inner{

  }
  &__list{
    margin: 0;
    padding: 18px 32px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: linear-gradient(#002e6d, #004f9e);
    li{
      text-decoration: none;
      position: relative;
      &:hover{
        > ul{
          display: block;
        }
      }
      a{
        font-weight: 500;
        color: #e2e8ef;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 25px;
        text-decoration: none;
        border-radius: 5px;
        padding: 7px 10px;
        transition: background-color .3s ease;
        display: block;
        &:hover,
        &.active{
          background-color: #FFFFFF;
          color: #1c4d9b;
          transition: background-color .3s ease;
        }
      }
      ul{
        display: none;
        min-width: 460px;
        position: absolute;
        top: calc(100% + 18px);
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 50;
        background-color: #004f9e;
        &:before{
          content: '';
          display: block;
          position: absolute;
          top: -20px;
          width: 100%;
          height: 20px;
        }
        li{
          a{
            font-weight: 500;
            text-transform: none;
            font-size: 16px;
            line-height: 25px;
            text-decoration: none;
            border-radius: 0;
            padding: 10px 20px;
            transition: background-color .3s ease;
            display: block;
            &:hover,
            &.active{
              background-color: #FFFFFF;
              color: #1c4d9b;
              transition: background-color .3s ease;
            }
          }
        }
      }
    }
  }

  @include r(1260) {
    &__list{
      li{
        a{
          font-size: 16px;
          line-height: 25px;
          padding: 7px 8px;
        }
      }
    }
  }
  @include r(1140) {
    &__list{
      padding: 10px;
      li{
        a{
          font-size: 14px;
          line-height: 21px;
          border-radius: 5px;
          padding: 5px 8px;
        }
      }
    }
  }
  @include r(1024) {
    display: none;
  }
}