@use "../mixin" as *;

.organization-info{
  margin-bottom: 120px;
  &__inner{}
  &__header{
    margin-bottom: 76px;
  }
  &__title{
    color: #000000;
    font-size: 50px;
    line-height: 53px;
    font-weight: 700;
    margin: 0 0 20px;
    span{
      color: #1c4d9b;
    }
  }
  &__subtitle{
    font-size: 25px;
    line-height: 33px;
    color: #000000;
  }
  &__row{
    display: grid;
    grid-template-columns: 735px 1fr;
  }
  &__content {
    background-color: #f5f5f5;
    margin-left: -50vw;
    padding-left: 50vw;
    display: flex;
    gap: 40px;
    position: relative;
  }
  &__label{
    background-color: #002e6d;
    padding: 10px 45px 37px;
    font-weight: 500;
    font-size: 38px;
    line-height: 40px;
    color: #FFFFFF;
    width: 168px;
    height: 204px;
    display: flex;
    align-items: flex-end;
  }
  &__info{
    padding-top: 86px;
    padding-bottom: 75px;
    max-width: 455px;
    p{
      font-size: 19px;
      line-height: 27px;
      margin: 0 0 17px;
    }
    b{
      font-size: 21px;
      line-height: 28px;
    }
  }
  &__list{
    padding-left: 18px;
    list-style-type: square;
    margin: 0;
    li{
      font-size: 19px;
      line-height: 27px;
      color: #616161;
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
      b{
        font-weight: 500;
        color: #000000;
      }
    }
  }
  &__numbers{
    max-width: 442px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
      font-size: 24px;
      line-height: 32px;
      margin: 0;
    }
  }
  &__count{
    padding: 0;
    margin: 0 0 76px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px 76px;
    &-item{
      border-bottom: 5px solid #dce5ec;
      padding-bottom: 32px;
    }
    &-num{
      font-size: 50px;
      line-height: 54px;
      font-weight: 700;
      margin-bottom: 6px;
    }
    &-name{
      font-size: 18px;
      line-height: 25px;
      color: #616161;
      font-weight: 400;
    }
  }
  &__decor1{
    background-image: url("/img/organization-info-decor-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 65px;
    height: 65px;
    position: absolute;
    bottom: 60px;
    left: 50vw;
    pointer-events: none;
  }
  &__decor2{
    background-image: url("/img/organization-info-decor-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 179px;
    height: 264px;
    position: absolute;
    top: 123px;
    right: -111px;
    pointer-events: none;
  }

  @include r(425) {
    &__header{
      text-align: center;
    }
    &__title{
      font-size: 28px;
      line-height: 34px;
    }
    &__row{
      display: grid;
      grid-template-columns:1fr;
    }
    &__content {
      margin: 0 -20px;
      padding: 0 20px;
      flex-direction: column;
    }
    &__label{
      padding: 10px 36px 30px;
      font-size: 31px;
      line-height: 33px;
      width: 134px;
      height: 164px;
      margin: 0 auto;
    }
    &__info{
      padding-top: 0;
      padding-bottom: 95px;
      max-width: 100%;
    }
    &__numbers{
      padding-top: 60px;
      p{
        font-size: 19px;
        line-height: 27px;
      }
    }
    &__count{
      padding: 0;
      margin: 0 0 50px;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 36px 38px;
      &-item{
        border-bottom: 5px solid #dce5ec;
        padding-bottom: 25px;
      }
      &-num{
        font-size: 38px;
        line-height: 42px;
      }
      &-name{
        font-size: 16px;
        line-height: 22px;
      }
    }
    &__decor1{
      bottom: auto;
      top: 96px;
      left: auto;
      right: 90px;

    }
    &__decor2{
      background-size: cover;
      width: 81px;
      height: 120px;
      top: auto;
      bottom: -52px;
      margin-left: -40px;
      left: 50%;

    }
  }
}