.social-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 14px;
  margin: auto 12px;
  &__item {

  }
  &__link {
    text-decoration: none;
    &:hover{
      opacity: .65;
      transition: opacity .3s ease;
    }
  }
}