.badge{
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 5px;
  &.bg-primary {
    background-color: #004f9e;
  }
  &.bg-secondary {
    background-color: #6c757d;
  }
  &.bg-success {
    background-color: #198754;
  }
  &.bg-danger {
    background-color: #dc3545;
  }
  &.bg-warning {
    background-color: #ffc107;
  }
  &.bg-info {
    background-color: #0dcaf0;
  }
  &.bg-light {
    background-color: #f8f9fa;
  }
  &.bg-dark {
    background-color: #212529;
  }
}