.icon {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
/*
.icon-cat {
  background-image: url("../img/icons-sprite.svg#icon-cat");
}*/
