@use "mixin" as *;
.remodal {
  text-align: left;
  background-color: transparent;
  padding: 120px 20px 20px;
  .remodal-close {
    right: -10px;
    top: -14px;
    left: auto;
    width: 50px;
    height: 50px;
    background-color: #004f9e;
    cursor: pointer;
    transition: .3s ease;
    border-radius: 7px;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-image: url("/img/close.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      width: 15px;
      height: 15px;
    }
    &:hover{
      transition: .3s ease;
    }
  }

  @include rmin(641){
    max-width: 590px;
  }
  @include r(767){
    padding: 20px;
    .btn{
      width: 100%;
      font-size: 14px;
      line-height: 17px;
      margin-top: 20px;
    }
  }
}
.remodal-wrapper {
  padding: 20px;
}
.remodal-overlay{
  background-color: #151A20;
}


.modal-question{
  padding: 55px 80px;
  background-color: #002e6d;
  color: #FFFFFF;
  border-radius: 7px;
  &__header{
    text-align: center;
    margin-bottom: 23px;
  }
  &__title{
    font-size: 38px;
    line-height: 48px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 14px;
  }
  &__subtitle{
    font-size: 19px;
    line-height: 27px;
    color: #84a9e1;
    font-weight: 400;
  }
  &__footer{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 38px;
    p{
      font-size: 14px;
      line-height: 20px;
      color: #84a9e1;
      font-weight: 400;
      margin: 0;
    }
    a{
      color: #FFFFFF;
      text-decoration: none;
    }
    .btn{
      max-width: 191px;
    }
  }
  .form-group{
    margin-bottom: 16px;
  }
  .form-control{
    max-height: 194px;
  }
}