@use "mixin" as *;
.tabs {
  margin: 20px 0 100px;
  &__caption {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    li {
      flex: 1;
      transition: all 0.3s ease;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      position: relative;
      &.active {
        padding: 20px;
        border-radius: 20px;
        background: #151A20;
        box-shadow: inset 9px 9px 19px #080A0D,
        inset -9px -9px 10px #222A33;
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 20px;
          padding: 2px;
          background:linear-gradient(45deg,#00b39b, #0769ad);
          -webkit-mask:
                  linear-gradient(#151A20 0 0) content-box,
                  linear-gradient(#151A20 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          transition: .3s ease;
        }
      }
      &:hover {
        transition: all 0.3s ease;
        opacity: 0.7;
      }
    }
  }
  &__content {
    display: none;
    color: #ffffff;
    &.active {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
    }
  }
  &__text{
    flex: 1 0 calc(50% - 20px);
    max-width: 50%;
    align-self: center;
    padding: 20px;
  }
  &__figure{
    margin: 0;
    padding: 20px;
    flex: 1 0 363px;
    max-width: 363px;
    border-radius: 20px;
    overflow: hidden;
    img{
      display: block;
      margin: auto;
    }
  }
  @include r(1023){
    &__text{
      flex: 1 0 100%;
      max-width: 100%;
    }
    &__figure{
      flex: 1 0 100%;
      max-width: 100%;
    }
  }
  @include r(767){
    margin: 20px 0 80px;
    &__caption {
      overflow: auto;
      padding: 20px 10px;
      margin: 20px -10px;
    }
  }
}


/*
<div class="tabs">

  <ul class="tabs__caption">
    <li class="active">1-я вкладка</li>
    <li>2-я вкладка</li>
  </ul>

  <div class="tabs__content active">
    Содержимое первого блока
  </div>

  <div class="tabs__content">
    Содержимое второго блока
  </div>

</div><!-- .tabs-->

$('ul.tabs__caption').on('click', 'li:not(.active)', function() {
    $(this)
      .addClass('active').siblings().removeClass('active')
      .closest('div.tabs').find('div.tabs__content').removeClass('active').eq($(this).index()).addClass('active');
  });
*/